<div class="rounded-social-buttons">

<a title="Email"
class="social-button email" itemprop="email"
href="mailto:amitesh@caltech.edu" target="_blank">
<i class="fas fa-envelope"></i>
</a>

<a title="Follow on LinkedIn"
class="social-button linkedin"
href="https://www.linkedin.com/in/aapandey" itemprop="sameAs"
target="_blank">
<i class="fab fa-linkedin"></i>
</a>

<a title="Follow on GitHub"
class="social-button github"
href="https://www.github.com/Amitesh2624" itemprop="sameAs"
target="_blank">
<i class="fab fa-github"></i>
</a>

<a title="Follow on Google Scholar"
class="social-button googlescholar"
href="https://scholar.google.com/citations?user=HaiAgVAAAAAJ&hl=en&oi=ao" itemprop="sameAs"
target="_blank">
<i class="fas fa-graduation-cap"></i>
</a>

</div>
